#services {
  color: rgb(10, 2, 2);
  background-image: url("../assets/background-01.jpg");
  animation: change 10s ease-in-out infinite;
  padding-bottom: 40px;
}

.color{
  color:#6c63ff;
  margin-top: 20px;
}

.deco{
    text-align: center;
    color: #534af8;
    font-size: x-large;
}

.startButton{
    text-align: center;
    font-size: x-large;
    border-radius: 9px;
    background-color: #6c63ff;
    color: white;
}
/* .startButton .hover{
  color :#27dd3f;
} */

p{
  color: #6c63ff;
  text-align: center;

}


@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.leftover {
  height: 40px;
  color: rgb(10, 2, 2);
  /* background: #6c63ff; */
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}
